body{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

.title{
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.productList
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.productItem {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    font-size: 1.1rem;
}

.productItem strong {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
}

.productActions
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.productActions button
{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 14px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover 
{
  background-color: #0056b3;
}

.pagination 
{
    margin-top: 30px;
    text-align: center;
    font-size: 1rem;
}

.pagination a 
{
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

pagination a:hover
{
    text-decoration: underline;
}